[Unit]
Description=restrict blue light
After=display-manager.service

[Service]
Type=simple
ExecStart=/usr/bin/redshift-gtk -r -P -l 46.03:14.47 -O 4500
Environment=DISPLAY=:0

[Install]
WantedBy=default.target
