[Unit]
Description=Runs redshift (refresh)

[Timer]
# Run for the first time 12 seconds after boot
# and every 5 seconds after that
OnBootSec=12
OnUnitActiveSec=5

[Install]
WantedBy=timers.target
